.Intro-Video{
    width: 100%;
    height: auto;
}

.GridJobs{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    margin: 5rem;
}

.RijTwee{
    margin-top: 5rem;
}

.GridJobs img{
    width: 80%;
} 

/*buttons*/
.button{
    background-color: rgb(52, 88, 235);
    border-radius: 0.35rem;
    color: white;
    font-size: 20px;
    padding: 0.2rem;
    border: 2px solid lightslategray;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}