.Rules {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    column-gap: 10%;
    max-width: 1100px;
    list-style: decimal-leading-zero;
}

.Rules li {

    color: black;
    margin-bottom: 1.5rem;
}

li a {
    color: inherit;
}

h2{
    margin-left: 1rem;
}

.Rules-Nav {
    border: 2px solid rgb(71, 71, 71);
    background-color: rgb(71, 71, 71);
    position: fixed;
    right: 2rem;
    top: 30%;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-left: 0rem;
    padding-right: 2rem;
    list-style: none;
    height: 25rem;

}

.Rules-Nav li {
    margin-bottom: 1.5rem;
    color: white;
    list-style: none;
    opacity: 100%;
}

.Rules-Nav-Links {
    width: 13rem;
    transition: width 2s;
}

.Rules-Nav-Links li {
    opacity: 1;
    transition: opacity 1s;
}

#open-close {
    display: none;
}

#open-close:checked~.Rules-Nav-Links {
    width: 0.5rem;
}

#open-close:checked~.Rules-Nav-Links li {
    opacity: 0;
    pointer-events: none
}

#open-close:checked~.open {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.open {
    position: absolute;
    top: 42%;
    right: 1.5rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: transform 1s;
}